.main-nav {
  position: relative;
  height: 100%;

  $block-name:                &; // #{$block-name}__element

  // первый уровень
  &__list {
    display: flex;
    //align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    & > #{$block-name}__item {
      margin-right: 40px;

      &:first-child {

       & > #{$block-name}__link {
            padding-left: 32px;
            padding-right: 32px + 24px;
            color: $title-color;
            background-color: $link-color;

            svg {
              margin-right: 12px;
            }

            &:hover,
            &:focus {
              background-color: $link-color--hover;
            }
        }

        &.active {

          & > #{$block-name}__link {
              background-color: $link-color--hover;
          }
        }

        &.main-nav__item--parent {

          & > #{$block-name}__link {

            &::after {
              right: 36px;
              background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$title-color);
            }
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__sublist {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: absolute;
    z-index: 10;
    top: 49px;
    left: 0;
    right: 0;
    min-height: 200px;
    padding: 40px 40px 32px;
    list-style: none;
    background-color: $white;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba($main-color, 0.5) 0%, rgba(139, 208, 66, 0) 100%);
    background-size: 800px 800px;
    background-repeat: no-repeat;
    background-position: right -400px bottom -400px;

    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-out;

    &:hover,
    &:focus-within {
      visibility: visible;
      opacity: 1;
    }

    #{$block-name}__item {
      flex-basis: 25%;
      margin-right: 80px;
      margin-bottom: 8px;
    }
  }

  &__item {
    display: flex;

    &.active {

      & > #{$block-name}__link {
        color: $link-color--hover;
      }
    }

    &--parent {

      & > #{$block-name}__link {
        position: relative;
        padding-right: 28px;

        &::after {
          display: block;
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 8px;
          width: 16px;
          height: 16px;
          background-color: transparent;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 16px;
          background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$title-color);
        }

        &:hover,
        &:focus {

          &::after {
            background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$link-color--hover);
          }
        }
      }

      &.active {

        & > #{$block-name}__link {

          &::after {
            background-image: svg-load('../blocks/sprite-svg/svg/chevron-down.svg', fill=$link-color--hover);
          }
        }
      }
    }
  }

  &__link {
    flex: 1 1 auto;
    display: inline-flex;
    align-items: center;
    padding: 12px 8px;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $link-color--hover;

      & + ul {
        visibility: visible;
        opacity: 1;
      }
    }

    svg {
      margin-right: 12px;
    }
  }
}
