.header-block {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 40px - 16px;

  @media (max-width: $screen-md - 1) {
    margin-bottom: 40px;
  }

  &__title {
    flex: 1 1 auto;
    margin-right: 24px;
    margin-top: 0;
    margin-bottom: 16px !important;
  }

  &__link {
    flex: 0 0 auto;
    padding: 8px 0;
  }
}
