.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  min-height: 504px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: $white;
  background-color: $gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //background-blend-mode: multiplay, luminosity;

  @media (min-width: $screen-md) {
    min-height: 887px;
  }

  @media (min-width: $screen-xl) {
    min-height: 534px;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @media (min-width: 1920px) {
    min-height: 894px;
  }

  $block-name:                &; // #{$block-name}__element

  &__text {
    position: relative;
    z-index: 1;
    max-width: 690px;
  }

  &__title {
    margin-bottom: 24px;
    color: inherit;
  }

  &__intro {
    margin-bottom: 40px;
  }

  &__overlay {
    display: block;
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black, 0.6);
    overflow: hidden;

    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 600px;
      height: 600px;
      background: radial-gradient(50% 50% at 50% 50%, $main-color 0%, rgba(139, 208, 66, 0) 100%);
      opacity: 0.4;
    }

    &::before {
      top: -300px;
      right: -300px;
    }

    &::after {
      bottom: -300px;
      left: -300px;
    }
  }
}
